.buttons{
    display: inline-block;
}
figure {
    display: inline-block;
}

figure figcaption{
    text-align: center;
    font-weight: bold;
    font-family: sans-serif
}

figure img{
    width: 100%;
}

.imgrow{
    display: inline-flex;

}

.logo{
    width: 5%;
}

.code{
    background-color: rgb(200, 200, 200);
    border: 1px solid black;
    border-radius: 3px;
}
code{
    display: block;
    white-space: pre-wrap;
}